:root{
    --answer-color : rgb(29, 29, 29);
    --answers-color :rgb(179, 179, 179);
}
*{
    box-sizing: border-box;
}
.answers,.card{
    border-radius:2px;
    box-shadow:0 5px 5px rgba(82, 82, 82, 0.726);
}
.answers{
    position:absolute;
    bottom:10%;
    display:flex;
    justify-content:space-around;
    height:25%;
    width:100%;
    background-color:var(--answers-color);
    border:solid 10px rgba(170, 170, 170, 0.5);
}
.card{
    width:25%;
    height:70%;
    align-self:center; 
    background-color:var(--answer-color);
    border:solid 5px rgba(24, 24, 24, 0.507);
    display: flex;
    justify-content: center;
    position:relative;
    perspective:1000px;
}
.r,.g,.b{
    display: block;
}
.r{
    color:red;
}
.g{
    color:green;
}
.b{
    color:blue;
}
.rgb,.answer{
    backface-visibility: hidden;
    transition:transform 2s;
    transform:rotateY(0deg)
}
.rgb{
    align-self: center;
}
.answer{
    position:absolute;
    height:100%;
    width:100%;
    transform:rotateY(360deg);
}
.rotate{
    transform:rotateY(180deg);
}