:root{
    --answer-color : rgb(29, 29, 29);
    --answers-color :rgb(179, 179, 179);
    --correct-color : lightgreen;
    --uncorrect-color : lightpink;
}
*{
    box-sizing: border-box;
}
.answers,.card{
    border-radius:2px;
}
.answers,.choices{
    position:absolute;
    display:flex;
    height:25%;
    width:100%;
}
.answers{
    justify-content:space-around;
    bottom:10%;
    background-color:var(--answers-color);
    border:solid 10px rgba(170, 170, 170, 0.5);
}
.choices{
    transition:transform 1s;
    top:30%;
    justify-content: space-between;

}
.minimize{
    transform:scale3d(0,0,0);
}
.card{
    width:25%;
    height:70%;
    align-self:center; 
    display: flex;
    justify-content: center;
    position:relative;
    perspective:1000px;
}
.r,.g,.b{
    display: block;
}
.r{
    color:red;
}
.g{
    color:green;
}
.b{
    color:blue;
}
.rgb{
    align-self: center;
}
.answer-bg{
    background-color:var(--answer-color);
    border:solid 5px rgba(24, 24, 24, 0.507);
    transform:rotateY(360deg);
}
.answer,.answer-bg{
    backface-visibility: hidden;
    transition:transform 2s;
    box-shadow:0 5px 5px rgba(82, 82, 82, 0.726);
    position: absolute;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
}
.answer{
    transform:rotateY(0deg);
}
.correct,.uncorrect{
    align-self:center
}
.correct{
    color:green;
    background-color:var(--correct-color) 
}
.uncorrect{
    color:red;
    background-color:var(--uncorrect-color)
}
.flipped{
    transform:rotateY(180deg);
}